node_modules/
dist/
dist-ssr/
build/

.env
.env.local
.env.*.local
docker-compose.yml

*.log
npm-debug.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/

uploads/
.DS_Store
Thumbs.db

*.tsbuildinfo
